<!DOCTYPE html>
<html>
    <head>
        <style>
    body {
      margin: 0;
      padding: 0;
      height: 100vh;
      width: 100vw;
      position: relative;
    }
    input, label {
    text-shadow: 0 0 5px #20bbd3;
    }
    input {
    box-shadow: 0 0 5px #20bbd3;
    }
    </style>
    <title >LOGIN</title> 
    </head>
<body>
 
<div style="  position: absolute;  left:0%;  top:0%;  width:100.0%;  height:100.0%; background-color:black;"></div> 


<img src="static/login_bk_1.jpg"  style="  position: absolute;  left:0%;  top:0%;  width:60.0%;  height:100.0%; ">
<h1  style="  position: absolute;  left:64.53%;  top:8.89%;  width:21.25%;  font-size: 4.25vw;  height:24.32%; color:#20bbd3">3D XO</h1> 
<h4  style="  position: absolute;  left:60.08%;  top:34.12%;  width:30%;  font-size: 1.359vw;  height:4.170%; color:#20bbd3">{{msg}}</h4> 
<form action="/" method="POST" name="loginform" >

<label  style="  position: absolute;  left:60%;  top:45%;  width:5.0%;  font-size: 1vw;  height:2.0%; color:#20bbd3" >Username</label> 

<input type="text" required  style="  position: absolute;  left:65%;  top:45%;  width:8.0%;  height:2.0%; " name="user">
<label  style="  position: absolute;  left:60.00%;  top:51.00%; color:#20bbd3; font-size: 1vw" >Password</label> 
<input type="password" required style="  position: absolute;  left:65%;  top:50%;  width:8.0%;  height:2.0%; " name="pwd">
<br>
<button type="submit" style="position: absolute; left:65%; top:55%; width:6.0%; height:4.0%; background-color:#20bbd3; color:black;">submit</button>

</form >
<br>
<a href="/create" style="color:#20bbd3">Or create new account</a>